/*
Codigo css: Oscar Cantaro
Paleta de colores: BAF2BB   BAF2D8  BAD7F2  F2BAC9  F2E2BA
*/
body {
  background-image: linear-gradient(to right, #baf2d8, #bad7f2);
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #f2bac9;
}
h1 {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 44px;
  text-align: center;
  color: #baf2d8;
  padding: 20px;
}
nav {
  width: 20%;
  float: left;
}
nav a {
  text-decoration: none;
  background-color: #f2bac9;
  border-radius: 10px 0 10px 0;
  color: #fff;
  margin: 10px;
  padding: 10px;
  display: block;
  font-size: 24px;
  font-weight: 700;
}
section {
  float: right;
  width: 75%;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 1px 0 5px rgb(0, 0, 0, 0.2);
}

.centrar {
  text-align: center;
}
aside {
  float: right;
  width: 30%;
  padding: 5px;
  margin: 5px;
  font-style: italic;
}

footer {
  clear: both;
  padding: 5px;
  text-align: center;
  background-color: #f2e2ba;
}
footer P {
  color: rgb(63, 62, 62);
}
footer a {
  text-decoration: none;
  color: rgb(63, 62, 62);
}
footer a:hover {
  color: black;
}

#modeloCaja {
  max-width: 500px;
  background-color: #baf2d8;
  padding: 10px;
  border: 20px solid #f2bac9;
  /*  margin: 30px;
  outline: 10px solid #f2e2ba;
  outline-offset: 10px; */
  margin: auto;
}
